*{
	margin: 0;
	padding: 0;
}
.bg-image{
	background-image: url('back-image2.jpg');
	height:670px;
	width: 100%;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.bg-image ul{
	padding-right: 80px;
}
.bg-image ul li{
	padding-right: 30px;
}

.navbar-background-color{
	background-color: #2690FA;
	transition: all .5s;

}
.headerset{
	padding-top: 210px;
	box-sizing: border-box;
}
.headerset > h2{
	font-size: 50px;
	line-height: 40px;
}
.headerset > h1{
	font-size: 55px;
	font-weight: bold;
	line-height: 130px;
}

#btn-signup{
	margin: 20px;
	background-color: #2690FA;
	border-style: none: 
}
#btn-getStart{
	margin: 20px;

}
.our-services{
	padding: 100px 0 60px;
	height: 600px; 
}
.our-services h1{
	font-size: 50px;
}
.rowsetting{
	padding: 20px;
}
.rowsetting p{
	padding: 20px;
}
.rowsetting h2{
	padding-top: 20px;
}

.imagesetting{
	height: 100px;
	width:100px;
	border-radius: 50%;
}
.fa-shopping-cart{
	padding: 26px;
}
.fa-desktop{
	padding: 25px;
}
.fa-lock{
	padding: 25px;
}
.portfolio{
	height:1100px;
	width: 100%;
	padding-top: 80px;
	background-color: #EAECEE;
}
.portfolio h1{
	font-size: 50px;
}
.card{
	margin-top:40px; 
}

.our-team{
	padding-top: 80px;
	height:600px;
}
.our-team h1{
	font-size: 50px;
}
.teamsetting{
	padding: 20px;
}
.teamsetting p{
	padding: 10px;
}
.footer{
	height: 50px;
}
.footer h6{
	line-height: 50px;
}

/*//Media quary for responsive//*/

@media(min-width: 768px) and (max-width: 991px){
.headerset > h2{
	font-size: 35px;
}
.headerset > h1{
	font-size: 50px;
	line-height: 1.5;
	font-weight: bold;
}
.bg-image ul{
	padding-right: 20px;
}
.bg-image ul li{
	padding-right: 10px;
}
.our-services{
	height: 800px; 
}
.portfolio{
	height:1000px;
}
.our-team{
	height:550px;
}
}
@media(min-width: 575px) and (max-width: 767px) {
.headerset > h2{
	font-size: 35px;
}
.headerset > h1{
	font-size: 50px;
	line-height: 1.5;
	font-weight: bold;
}
.bg-image ul{
	padding-right: 0px;
}
.bg-image ul li{
	padding-right: 0px;
}
.our-services{
	height: 1200px; 
}
.portfolio{
	height:3100px;
}
.our-team{
	height:1300px;
}
}
@media(min-width: 480px) and (max-width: 574px) {
.headerset > h2{
	font-size: 30px;
}
.headerset > h1{
	font-size: 45px;
	line-height: 1.5;
	font-weight: bold;
}
.bg-image ul{
	padding-right: 0px;
}
.bg-image ul li{
	padding-right: 0px;
}
.our-services{
	height: 1200px; 
}
.portfolio{
	height:3100px;
}
.our-team{
	height:1300px;
}

}
@media(min-width: 421px) and (max-width: 479px){

.headerset > h2{
	font-size: 30px;
}
.headerset > h1{
	font-size: 45px;
	line-height: 1.5;
	font-weight: bold;
}
.bg-image ul{
	padding-right: 0px;
}
.bg-image ul li{
	padding-right: 0px;
}
.our-services{
	height: 1200px; 
}
.portfolio{
	height:2775px;
}
.our-team{
	height:1300px;
}
}
@media(max-width: 420px){
	.headerset > h2{
	font-size: 30px;
}
.headerset > h1{
	font-size: 45px;
	line-height: 1.5;
	font-weight: bold;
}
.bg-image ul{
	padding-right: 0px;
}
.bg-image ul li{
	padding-right: 0px;
}
.our-services{
	height: 1250px; 
}
.portfolio{
	height:2500px;
}
.our-team{
	height:1300px;
}
}
@media(min-width: 360px) and (max-width: 400px)
{
.headerset > h2{
	font-size: 25px;
}
.headerset > h1{
	font-size: 40px;
	line-height: 1.5;
	font-weight: bold;
}
.bg-image ul{
	padding-right: 0px;
}
.bg-image ul li{
	padding-right: 0px;
}
.our-services{
	height: 1300px; 
}
.portfolio{
	height:2450px;
}
.our-team{
	height:1300px;
}

}


@media(max-width: 359px){
.headerset > h2{
	font-size: 25px;
}
.headerset > h1{
	font-size: 35px;
	line-height: 1.5;
	font-weight: bold;
}
.bg-image ul{
	padding-right: 0px;
}
.bg-image ul li{
	padding-right: 0px;
}
.our-services{
	height: 1400px; 
}
.portfolio{
	height:2400px;
}
.our-team{
	height:1300px;
}
}